{% extends 'basic.html' %} {% block contactactive %} active {% endblock %}{% load static %}
{% block title %} Contact {% endblock %} {% block body %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/contact.css' %}">
{% endblock %}
<body>
    <div class="container mt-5 contact">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6 my-auto">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-left">Contact Us</h1>
                        <small>Fill in the form below to contact us</small>
                    </div>
                    <div class="col-md-6">
                        <span class="icon"><i class="far fa-paper-plane"></i></span>
                    </div>
                </div>
                <hr>
                <div class="col-md-8">
                    <label class="label control-label">Name</label>
                    <input type="text" class="form-control contact-form-control" name="name" placeholder="You name here">
                    <label class="label control-label">Email</label>
                    <input type="text" class="form-control contact-form-control" name="email" placeholder="example@example.com">
                    <label class="label control-label">Message</label>
                    <textarea class="form-control contact-form-control" placeholder="Your message goes here..."></textarea>
                    <a class="btn btn-outline-success send" href="/contact" role="button">Send Message</a>
                    <p class="text-center m-3">...or Find us here</p>
                    <div class="row text-center">
                        <div class="col-md-3">
                            <a href="https://www.instagram.com/wisdomkhan.co.in/" target="_blank" class="fab fa-instagram"></a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://www.facebook.com/mohammadasim.khan.54/" target="_blank" class="fab fa-facebook"></a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://twitter.com/YOURwisdom_khan" target="_blank" class="fab fa-twitter"></a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://www.linkedin.com/in/mohammad-asim-khan-51b8671b2/" target="_blank" class="fab fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- font awesome kit -->
    <script src="https://kit.fontawesome.com/011feda77c.js" crossorigin="anonymous"></script>
    </body>
{% endblock %}